body {
    font-family: 'Open Sans', sans-serif;
}

.video {
    position: relative;
    padding-bottom: 30%;
    height: 0;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.logo {
    width: 75px;
}
.conference {
    width: 70px;
}
.video2 {
    position: relative;
    padding-bottom: 57%;
    height: 0;
    margin-bottom: 10px;
}

.video2 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}